
# CMake build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakePresets.json
CTestTestfile.cmake
Testing/
compile_commands.json
DartConfiguration.tcl

# IDE-specific files
.idea/
.vs/
.vscode/
*.sln
*.suo
*.user
*.user.*
.cache/
_deps/

# vcpkg artifacts
vcpkg_installed/
vcpkg-manifest-install.log

# Output binaries
out/

# macOS-specific files
.DS_Store

# Ninja build artifacts
build.ninja

# Custom build artifacts
compile_commands.json
*.cmake
*.log
*.swp
*.tmp
