
.DS_Store
.vs/
vcpkg_installed/
.idea/
.cache/
cmake-build-debug/
CMakeFiles/
out/

vcpkg-manifest-install.log
CMakeCache.txt
Sandbox/cmake_install.cmake
Lithe/cmake_install.cmake
build.ninja


compile_commands.json